body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.background {
    background-image: url('https://img.freepik.com/free-photo/beautiful-blue-sea-sky_1232-2785.jpg?size=626&ext=jpg&ga=GA1.1.1395880969.1709510400&semt=ais'); 
    background-size: cover;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}


.ocean {
    width: 100%;
    height: 50%;
    background-color: #1E90FF;
    position: absolute;
    bottom: 0;
}

.ship {
    width: 200px;
    height: 100px;
    background-image: url('ship-transparent-background-7.jpg'); 
    background-size: contain;
    position: absolute;
    bottom: 0;
    left: -20px;
    animation: cruise 10s linear infinite;
    animation-duration: 10s;
}

@keyframes cruise {
    0% {
        transform: translateX(-50%);
    }
    100% {
        transform: translateX(110%);
    }
}

.bird {
    width: 50px;
    height: 30px;
    background-image: url('bird_1.webp'); 
    background-size: contain;
    position: absolute;
    top: 100px;
    left: -20px;
    animation: fly 6s linear infinite;
}

@keyframes fly {
    0% {
        transform: translateX(-50%);
    }
    100% {
        transform: translateX(110%);
    }
}
