body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.background {
    background-image: url('https://img.freepik.com/free-photo/beautiful-blue-sea-sky_1232-2785.jpg?size=626&ext=jpg&ga=GA1.1.1395880969.1709510400&semt=ais'); 
    background-size: cover;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}


.ocean {
    width: 100%;
    height: 50%;
    background-color: #1E90FF;
    position: absolute;
    bottom: 0;
}

.ship {
    width: 200px;
    height: 100px;
    background-image: url('ship-transparent-background-7-removebg-preview.png'); 
    background-size: contain;
    position: absolute;
    bottom: 100px;
    left: -20px;
    animation: cruise 20s linear infinite;
    background-repeat: no-repeat;
}

@keyframes cruise {
    0% {
        left: 0%;
    }
    100% {
        left: 100%;
    }
}

.bird {
    width: 60px;
    height: 40px;
    background-image: url('bird_1.webp'); 
    background-size: contain;
    position: absolute;
    top: 80px;
    left: -20px;
    animation: fly 10s linear infinite;
    background-repeat: no-repeat;
}

@keyframes fly {
    0% {
        left: 0%;
    }
    100% {
        left: 100%;
    }
}
